Ejemplos/dtd_externa/fichero.dtd

<!-- ficha.dtd -->
<!ELEMENT fichero (a, ficha+)>
<!ELEMENT a (#PCDATA)>
<!ATTLIST a
    href CDATA #IMPLIED
    xmlns CDATA #IMPLIED
    target (_blank|_self|marco) "_self"
>
<!ELEMENT ficha (nombre, apellido, direccion*, dui?)>
<!ELEMENT nombre (#PCDATA)>
<!ATTLIST nombre sexo (masculino|femenino) #REQUIRED>
<!ATTLIST nombre edad CDATA #IMPLIED>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT direccion (#PCDATA)>
<!ELEMENT dui (#PCDATA)>