Ejercicios/dtd_exterma/ejercicio-ii-2c-dtd-externa.dtd

		<!ELEMENT fichero (ficha+, a)>
		<!ELEMENT ficha (nombre, apellido, direccion*, DUI?)>
		<!ELEMENT a (#PCDATA)>
		<!ATTLIST a  
  		href CDATA #IMPLIED
  		xmlns CDATA #IMPLIED 
  		target (_blank|_self|marco) "_blank">
		<!ELEMENT nombre (#PCDATA)>
		<!ATTLIST nombre sexo (masculino|femenino) #REQUIRED>
    <!ATTLIST nombre edad  CDATA  #IMPLIED>
		<!ELEMENT apellido (#PCDATA)>
		<!ELEMENT direccion (#PCDATA)>
		<!ELEMENT DUI (#PCDATA)>